{% extends 'model_page.html' %}

{% block content %}

<h2>Manage Discounts</h2>

<ul>
    <li>
      <a href="{% url 'packages:package_discount_list' %}">List/Add/Remove Package Discounts</a>
    </li>
    <li>
        <a href="{% url 'packages:client_package_discount_list' %}">List Client Package Discount</a>
    </li>
        <li>
        <a href="{% url 'services:service_discount_list' %}">List/Add/Remove Service Discounts</a>
    </li>
    <li>
        <a href="{% url 'services:client_service_discount_list' %}">List Client Service Discount</a>
    </li>
</ul>

{% endblock %}