{% extends 'model_page.html' %}
{% block content %}
  <h1>Operators List</h1>
  {% if operators_list %}
    <ul>
      {% for admin in operators_list %}
      <a href="{% url 'operators:operator_update' admin.id_operator %}">
        <li>
          name: {{ admin.first_name }} {{ admin.last_name }};
          email: {{ admin.email }};
          birth date: {{ admin.birth_date }};
          active: {{ admin.active }};
        </li>
      </a>
      <a href="{% url 'operators:operator_delete' admin.id_operator %}">Delete</a>
      {% endfor %}
    </ul>
  {% else %}
    <li>No registrations yet.</li>
  {% endif %}
{% endblock %}