{% extends 'model_page.html' %}
{% block content %}
<div class="container mt-5">
  <div class="text-center mb-3">
    <h2>Address List</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Street</th>
          <th>Door Number</th>
          <th>City</th>
          <th>Postal Code</th>
          <th>Customer (ID; Name)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for address in address_list %}
        <tr>
          <td>{{ address.id_address }}</td>
          <td>{{ address.street }}</td>
          <td>{{ address.door_number }}</td>
          <td>{{ address.city.name_city }}</td>
          <td>{{ address.postal_code.postal_code }}</td>
          <td>{{ address.customer.id_customer }}; {{ address.customer.name }}</td>
          <td>
            <a href="{% url 'customers:address_update' address.id_address %}" class="btn btn-sm btn-secondary">Edit</a>
            <a href="{% url 'customers:address_delete' address.id_address %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
