{% load static %}
<head>
  <!-- Other head content -->
  <link rel="stylesheet" href="{% static 'global_styles.css' %}">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-auto py-3">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'images/logo.png' %}" alt="NEO telecom" height="100rem">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link navbar-button" href="{% url 'index' %}">Home</a>
      <a class="nav-item nav-link navbar-button" href="{% url 'about' %}">About</a>
      <a class="nav-item nav-link navbar-button" href="{% url 'services:service_list' %}">Services</a>
      <a class="nav-item nav-link navbar-button" href="{% url 'packages:package_list' %}">Packages</a>
      <a class="nav-item nav-link navbar-button" href="{% url 'discounts_main_page' %}">Discounts</a>
      <a class="nav-item nav-link navbar-button" href="{% url 'customers:register_customer' %}">Registration</a>
      {% if request.user.is_authenticated %}
        {% if request.user.customer %}
          <a class="nav-item nav-link navbar-button" href="{% url 'customers:customer_dashboard' %}">My Dashboard</a>
        {% endif %}
        <a class="nav-item nav-link navbar-button" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="nav-item nav-link navbar-button" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
