{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEO Telecom</title>
</head>
<body class="body-background">
    <header>
        {% include "model_header.html" %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'global_styles.css' %}">
    </header>

    <main class="main">
            {% block content %}

            {% endblock %}
    </main>

    <footer>
        {% include "model_footer.html" %}
    </footer>

</body>
</html>

