/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

/* Creates a modern looking bg gradient */
.body-background {
    background-image:
        radial-gradient(circle at center, rgba(255, 255, 255, 0.005) 0, rgba(255, 255, 255, 0.005) 1px, transparent 1px),
        linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    background-size: 10px 10px;
    background-color: #2c2c2c;
    min-height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Remove the navbar default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: #2F4F4F;
    font-family: 'Inter', sans-serif;
    color: #FBFAF5;
    border-bottom: 5px solid #4a4a4a;

}

.navbar-brand {
    margin-left: 7rem;
}

/* Add a background colormake the footer stay at bottom without overlapping */
footer {
    margin-top: auto; /* pushes footer to the bottom */
    width: 100%;
    background-color: #2F4F4F;
    font-family: 'Inter', sans-serif;
    color: #FBFAF5;
    border-top: 2px solid #4a4a4a;
}


.main {
    flex: 1; /* Takes up only as much space as it needs, but can expand */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* this is so content starts aligned at the top */
    align-items: center;
    min-height: auto;
    font-family: 'Inter', sans-serif;
    color: #FBFAF5;
}


/* NAVBAR BUTTONS */

.navbar-button {
  position: relative;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.375rem;
  padding: 0.5rem 1.2rem;
  margin: 0 0.10rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-button:hover, .navbar-button:focus {
  background-color: #4a4a4a;
  color: #dddddd;
  text-decoration: none;
  position: relative;
}

/* this is for responsiveness */
@media (min-width: 768px) {
  .navbar-button {
    padding: 0.75rem 1.5rem;
    margin: 0 0.25rem;
  }
}


.navbar .navbar-nav .nav-link.active {
  background-color: #4a4a4a;
  color: #ffffff;
}


.navbar-button:before, .navbar-button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1px;
  background-color: #fff;
  transition: 0.3s;
}

.navbar-button:before {
  left: 50%;
}

.navbar-button:after {
  right: 50%;
}

.navbar-button:hover:before, .navbar-button:hover:after {
  width: 50%;
}

.discounts {
  display: flex; /* Use flexbox to lay out cards */
  justify-content: space-around; /* Space out the cards evenly */
  margin: 20px; /* Margin around the container for some space */
}

.card {
  background-color: rgba(255, 255, 255, 0.75); /* Slight transparency on the whole card */
  width: 45%; /* Each card takes up 45% of the .discounts container width */
  padding: 20px; /* Padding inside the cards */
  color: #000000; /* Card text color */
  text-align: center; /* Center the text inside the cards */
  margin: 10px; /* Margin around cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for hover effects */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack image and text vertically */
  align-items: center; /* Center align the items */
}

.card img {
  opacity: 0.9;
  max-width: 100%; /* Ensure the image is responsive and doesn't overflow */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add space between image and text */
}

.card a {
  display: block; /* Make the link fill the card */
  height: 100%;
  color: inherit; /* The link color will be the same as the card text color */
  text-decoration: none; /* No underline on the link */
  margin-top: auto;
}

.card:hover {
  transform: translateY(-5px); /* Move card up slightly on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Make shadow more prominent on hover */
}

.card-text-container {
  background-color: rgba(0, 0, 0, 0.7); /* Slight transparency with a dark blue tint */
  color: #FBFAF5; /* This should be your default website font color */
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px; /* Optional: Adds rounded corners to the text box */
  margin-top: -20px; /* Adjust as necessary to position the text box */
  position: relative; /* To position the text box correctly */
  z-index: 2; /* Ensures the text box is above the image */
}

/* Responsive behavior */
@media (max-width: 768px) {
  .discounts {
    flex-direction: column; /* Stack cards on top of each other on smaller screens */
  }

  .card {
    width: auto; /* Cards can take full width on smaller screens */
  }
}


