<!-- services/templates/services/service_type_list.html -->
{% extends 'model_page.html' %}

{% block content %}
  <h2>Service Types</h2>
  <a href="{% url 'services:service_type_create' %}">Add New Service Type</a>
  <ul>
    {% for service_type in service_types %}
      <li>
        {{ service_type.service_name }}
        <a href="{% url 'services:service_type_update' id_service_type %}">Edit</a>
        <a href="{% url 'services:service_type_delete' id_service_type %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
