{% extends 'model_page.html' %}

{% block content %}
  <h2>Services</h2>
  {% if perms.services.add_service %}
    <a href="{% url 'services:service_create' %}">Add New Service</a>
  {% endif %}
  <ul>
    {% for service in service %}
      <li>
        id: {{ service.id_service }} -
        service name: {{ service.id_service_type.service_name }}
        {% if perms.services.change_service %}
          <a href="{% url 'services:service_update' service.id_service %}">Edit</a>
        {% endif %}
        {% if perms.services.delete_service %}
          <a href="{% url 'services:service_delete' service.id_service %}">Delete</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
