{% extends 'model_page.html' %}

{% block content %}
  <h2>Services</h2>
  <a href="{% url 'services:service_discount_create' %}">Add New Service Promotion</a>
  <ul>
    {% for i in service_discount %}
      <li>
        {{ i.id_service_discount }} -
        {{ i.discount_rate }} -
        {{ i.active }} -
        {{ i.id_service.id_service_type.service_name }}
        <a href="{% url 'services:service_discount_update' i.id_service_discount %}">Edit</a>
        <a href="{% url 'services:service_discount_delete' i.id_service_discount %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
