{% extends 'model_page.html' %}

{% block content %}
  <h2>Services</h2>
  <a href="{% url 'services:service_discount_create' %}">Add New Service Discount</a>
  <ul>
    {% for service_discount in service_discount %}
      <li>
        {{ service_discount.id_service_discount }}
        <a href="{% url 'services:service_discount_update' id_service_discount %}">Edit</a>
        <a href="{% url 'services:service_discount_delete' id_service_discount %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
