{% extends 'model_page.html' %}

{% block content %}
  <h2>Services</h2>
  <a href="{% url 'services:service_discount_service_create' %}">Add New Service Discount Service</a>
  <ul>
    {% for i in service_discount_service %}
      <li>
        id: {{ i.id_service_discount_service }} -
        service name: {{ i.id_service.id_service_type.service_name }} -
        discount rate: {{ i.id_service_discount.discount_rate }}
        <a href="{% url 'services:service_discount_service_update' i.id_service_discount_service %}">Edit</a>
        <a href="{% url 'services:service_discount_service_delete' i.id_service_discount_service %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
