{% extends 'model_page.html' %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-3">
    <h2>Service Types</h2>
    {% if perms.services.add_servicetype %}
      <a href="{% url 'services:service_type_create' %}" class="btn btn-success my-2">Add New Service Type</a>
    {% endif %}
  </div>

  <div class="list-group">
    {% for service_type in service_types %}
      <div class="bg-dark text-white list-group-item d-flex justify-content-between align-items-center">
        {{ service_type.service_comercial_name }}
        <div>
          {% if perms.services.change_servicetype %}
            <a href="{% url 'services:service_type_update' service_type.id_service_type %}" class="btn btn-outline-secondary btn-sm">Edit</a>
          {% endif %}
          {% if perms.services.delete_servicetype %}
            <a href="{% url 'services:service_type_delete' service_type.id_service_type %}" class="btn btn-outline-danger btn-sm ml-2">Delete</a>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="list-group-item">No service types found.</div>
    {% endfor %}
  </div>
</div>
{% endblock %}