{% extends 'model_page.html' %}
{% block content %}
  <h1>Administrator List</h1>
  {% if administrator_list %}
    <ul>
      {% for admin in administrator_list %}
      <a href="{% url 'administrator:administrator_update' admin.id_administrator %}">
        <li>
          id: {{ admin.id_administrator }};
          name: {{ admin.first_name }} {{ admin.last_name }};
          email: {{ admin.email }};
          birth date: {{ admin.birth_date }};
          active: {{ admin.active }}
        </li>
      </a>
      <a href="{% url 'administrator:administrator_delete' admin.id_administrator %}">Delete</a>
      {% endfor %}
    </ul>
  {% else %}
    <li>No registrations yet.</li>
  {% endif %}
{% endblock %}