{% extends 'model_page.html' %}

{% block content %}

<h2>Manage Customers</h2>

<ul>
    <li>
        <a href="{% url 'customers:register_customer' %}">Add Customer</a>
    </li>
    <li>
        <a href="{% url 'customers:customer_list' %}">List Customers</a>
    </li>
    <li>
        <a href="{% url 'customers:address_list' %}">List Addresses</a>
    </li>
    <li>
        <a href="{% url 'services:service_customer_create' %}">Assign Service to Customer</a>
    </li>
    <li>
        <a href="{% url 'packages:package_customer_create' %}">Assign Package to Customer</a>
    </li>
    <li>
        <a href="{% url 'services:invoice_service_create' %}">Add Invoice Services</a>
    </li>
    <li>
        <a href="{% url 'services:invoice_service_list' %}">List Invoice Services</a>
    </li>
    <li>
        <a href="{% url 'packages:invoice_package_create' %}">Add invoice Packages</a>
    </li>
    <li>
        <a href="{% url 'packages:invoice_package_list' %}">List Invoice Packages</a>
    </li>
</ul>

{% endblock %}