{% extends 'model_page.html' %}

{% block content %}

<h2>Manage Discounts</h2>

<ul>
    <li>
        <a href="{% url 'packages:package_discount_create' %}">Add Packages Discounts</a>
    </li>
    <li>
        <a href="{% url 'packages:package_discount_list' %}">List/Update/Delete Packages Discounts</a>
    </li>
    <li>
        <a href="{% url 'services:service_discount_create' %}">Add Services Discounts</a>
    </li>
    <li>
        <a href="{% url 'services:service_discount_list' %}">List/Update/Delete Services Discounts</a>
    </li>
</ul>

{% endblock %}