{% extends 'model_page.html' %}

{% block content %}

<h2>Manage Packages</h2>

<ul>
    <li>
        <a href="{% url 'packages:package_create' %}">Add Package</a>
    </li>
    <li>
        <a href="{% url 'packages:package_list' %}">List Packages</a>
    </li>
    <li>
        <a href="{% url 'packages:package_discount_package_create' %}">Add Discounts to Packages</a>
    </li>
    <li>
        <a href="{% url 'packages:package_discount_package_list' %}">List Packages Discounts</a>
    </li>
</ul>

{% endblock %}